/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* controllo grandezze flex */
.debug{
  background-color: (255, 0, 0, .2);
  border: 2px dashed black;
}

/* fix img */

img{
  max-width: 100%;
  
}

.cento img{
  width: 100%;
}

h1{
  font-size: 60px;
  margin-top: 30px;
}

h2{
  font-size: 50px;
  margin: 20px 40px;
}

h3{
  font-size: 40px;
}

footer h4{
  color: #748BDE;
  margin-right: 15%;
  font-size: 1.8rem;
}

footer h5{
  color: #748BDE;
  margin-right: 15%;
  margin-top: 10px;
  font-size: 1.2rem;
}

body{
  background-color: white;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
}

/* header */
header{
  background-color: #255EE9;
  height: 80px;
  padding: 20px 350px 0 280px;
}

footer{
  background-color: #23272A;
}
/* logo */
.logo{
  /* display: flex;
  justify-content: left; */
}
/* /logo */

/* nav centrale */
nav{
  width: 750px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  display: inline-block;
  color: white;
  margin-left: 20px;
  padding: 5px 10px;
}

nav ul li a:hover{
  background-color: lightgrey;
}
/* /nav centrale */

/* nav footer */
footer ul li{
  list-style: none;
}

footer ul li a{
  text-decoration: none;
  display: inline-block;
  color: white;
  margin-left: 0px;
  padding-top: 20px;
  font-size: 1.2rem;
}
/* /nav footer */

/* login  */
.login{
  width: 250px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

/* bottone */
.btn{
  border: none; 
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;

  font-weight: bold;
}

.btn#grande-bianco{
  margin: 30px 10px;
  padding: 20px 40px;
}

.btn#grande-nero{
  color: white;
  background-color: #23272A;
  margin: 30px 10px;
  padding: 20px 40px;
}

.btn#grande-blu{
  color: white;
  background-color: #8EA1E1;
  margin: 40px 40%;
  padding: 20px 30px;
  
}

.btn#blu{
  color: white;
  background-color: #8EA1E1;
}

/* footer btn */
footer .btn{
  background-color: #FFB6C1;
}

/* login  */

/* /header */

/* main */

/* box */
.box{
  background-color: #00008B;
  height: 800px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.box#jumbo{
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

/* hero */
.box .hero{
  width: 98%;
  max-width: 950px;
  height: 400px;

  text-align: center;


}

.hero p{
  margin-top: 50px;
  font-size: 20px;
}
/* /hero */


.box#bianco{
  background-color: #FFFFFF;
}

.box#grigio{
  background-color: #F6F6F6;
}

.box#grande{
  height: 1300px;
  background-color: #F6F6F6;
}

footer .box{
  height: 650px;
}

.box-contenitore{
  max-width: 1200px;
  width: 99%;
  height: 400px;
  margin: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .box-contenitore{
  height: 40px;
  margin: 0;

}

.box-contenitore#footer-bot{
  background-color: #7FFFD4;

}

.box-contenitore#big{
  height: 90%;
}

.box-contenitore#top{
  height: 400px;
}

/* footer box */
footer .box{
  background-color: #23272A;
}

footer .box#piccolo{
  height: 100px;
}
/* /footer box */


/* /box */

/*  box settanta-trenta*/
.box-contenitore .settanta{
  width: 60%;
  height: 100%;
}
.box-contenitore .trenta{
  width: 40%;
  height: 100%;
  color: #23272A;
  text-align: center;
}

p{
  text-align: center;
  margin: 20px 40px;
  font-size: 1.2rem;
}
/* /box settanta-trenta*/

/* box 100 */
.box-contenitore .cento{
  width: 100%;
  height: 100%;
  margin-top: 40px;
  color: #23272A;
  
}

.cento .avventura{
  background-image: url('../img/stars.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 150px;
  padding: 20px;
  text-align: center;
}
/* /box 100 */

/* box footer */
footer .box-contenitore .foot-grande{
  width: 35%;
  height: 100%;
}



footer .box-contenitore .foot-piccolo{
  width: 20%;
  height: 100%;
}

footer .box-contenitore#bottom{
  height: 100px;
  margin-bottom: 0;
  margin-top: 92px;
  margin-left: 350px;
  justify-content: space-between;
}
footer .box-contenitore .little{
  background-color: #7FFFD4;
  width: 100%;
  height: 80px;
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

footer p{
  margin-left: 0;
  text-align: left;
}

/* bandiera */
footer p img{
  width: 25px;
  height: 20px;
}



footer .social{
  color: white;
  font-size: 1.5rem;
  margin: 5px;
}

footer .social i{
  margin-right: 20px;
}

/* /box footer */

.separatore{
  border-top: 1px solid #7289DA;
  margin: 0 350px;
}
/* /main */